.Header {
    height: 10vh;
    user-select: none;
}

.Header__line {
    height: 1vh;
    background-color: var(--background-green);
}

.Header__menu {
    height: 5.4vh;
    display: flex; 
    border-bottom: 1px solid #eee;
}

.Header__menu-logo {
    flex: 1;
}

.Header__menu-links {
    flex: 9;
}

.Header__menu-links-block {
    width: 56vw;
    display: flex;
    margin: auto;
}

.Header__menu-links-home,
.Header__menu-links-cards,
.Header__menu-links-payments,
.Header__menu-links-deposits,
.Header__menu-links-settings {
    flex: 1;
}

.Header__menu-logo-text {
    padding-left: 4vw;
    font-size: var(--logo-size);
    font-family: 'Square Peg', cursive;
}

.Header__menu-links-home-text,
.Header__menu-links-cards-text,
.Header__menu-links-payments-text,
.Header__menu-links-deposits-text,
.Header__menu-links-settings-text {
    font-size: var(--menu-size);
    padding-top: 1.16vh;
    cursor: pointer;
}