:root {
    --background: aquamarine;
    --card-nocard-background: rgb(237, 241, 245);
    --card-nocard-title-size: 28px;
    --card-nocard-text-size: 22px;
    --logo-size: 28px;
    --menu-size: 20px;
}