@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('.././components/message/message.css');
@import url('.././components/login/login.css');
@import url('.././components/register/register.css');

* {
    margin: 0;
    user-select: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

DIV#root {
    width: 100vw;
    height: 100vh;
}

[page] {
    display: none;
}