.Cards__final {
    height: 80vh;
    padding-top: 10vh;
}

.Cards__final-credit,
.Cards__final-debit {
    width: 26vw;
    height: 59vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    margin: auto;
    background-color: var(--background-white);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
}

.Cards__final-credit-block,
.Cards__final-debit-block {
    width: 22vw;
    padding-left: 2vw;
    padding-top: 2vw;
    height: 30vh;
}

.Cards__final-credit-block-card,
.Cards__final-debit-block-card {
    width: 22vw;
    height: 24vh;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-image: url('../../assets/credit-background.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.Cards__final-debit-block-card {
    background-image: url('../../assets/debit-background.avif');
}

.Cards__final-credit-block-card-title,
.Cards__final-debit-block-card-title {
    height: 3vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 24px;
    text-align: right;
}

.Cards__final-credit-block-card-number,
.Cards__final-debit-block-card-number {
    height: 2vh;
    padding-top: 5vh;
    font-size: 22px;
    padding-left: 1.6vw;
    letter-spacing: 1px;
}

.Cards__final-credit-block-card-date,
.Cards__final-debit-block-card-date {
    padding-top: 2vh;
    height: 2vh;
    padding-left: 11vw;
    font-size: 16px;
}

.Cards__final-credit-block-card-info,
.Cards__final-debit-block-card-info {
    height: 5vh;
    padding-top: 3vh;
    padding-left: 1.6vw;
    display: flex;
}

.Cards__final-credit-block-card-info-name,
.Cards__final-debit-block-card-info-name {
    flex: 3;
    font-size: 26px;
}

.Cards__final-credit-block-card-info-protocol,
.Cards__final-debit-block-card-info-protocol {
    flex: 1;
    padding-right: 1vw;
    padding-top: 0.2vh;
    text-align: right;
    font-size: 30px;
}

.Cards__final-credit-button,
.Cards__final-debit-button {
    height: 16vh;
    padding-top: 14vh;
}

.Cards__final-credit-button-block,
.Cards__final-debit-button-block {
    height: 10vh;
    display: flex;
}

.Cards__final-credit-button-block-finish,
.Cards__final-debit-button-block-finish {
    flex: 1;
    width: 10vw;
    height: 4.4vh;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7.5px;
    text-align: center;
    color: white;
    background-color: var(--background-green);
    box-shadow: 0 0 5px var(--background-green);
    cursor: pointer;
    text-align: center;
    padding-top: 1.4vh;
}

.Cards__final-credit-button-block-options,
.Cards__final-debit-button-block-options {
    flex: 1;
    width: 10vw;
    height: 4.4vh;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7.5px;
    text-align: center;
    color: white;
    background-color: rgb(103, 101, 101);
    box-shadow: 0 0 5px rgb(103, 101, 101);
    cursor: pointer;
    text-align: center;
    padding-top: 1.4vh;
    margin-left: 2vw;
}

