.Cards__register {
    height: 82vh;
    padding-top: 8vh;
}

.Cards__register-block {
    width: 70vw;
    height: 70vh;
    margin: auto;
    background-color: var(--background-white);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
    display: flex;
}

.Cards__register-block-left {
    flex: 1.5;
    padding-left: 3vw;
}

.Cards__register-block-right {
    flex: 1.2;
}

.Cards__register-block-left-title {
    height: 10vh;
    padding-top: 4vh;
    font-size: 26px;
}

.Cards__register-block-left-menu {
    height: 6vh;
}

.Cards__register-block-left-block {
    width: 20vw;
    height: 4.6vh;
    display: flex;
}

.Cards__register-block-left-menu-left {
    flex: 1;
    text-align: center;
    cursor: pointer;
    color: rgb(97, 94, 94);
    transition: all 0.2s ease;
}

.Cards__register-block-left-menu-right {
    flex: 1;
    margin-left: 1vw;
    text-align: center;
    cursor: pointer;
    color: rgb(97, 94, 94);
    transition: all 0.2s ease;
}

.Cards__register-block-left-block .active {
    border-bottom: 3px solid var(--background-green);
    color: black;
}

.Cards__register-block-left-form {
    height: 36vh;
    padding-top: 4vh;
}

.Cards__register-block-left-form-credit,
.Cards__register-block-left-form-debit {
    height: 36vh;
}

.Cards__register-block-left-form-credit-name,
.Cards__register-block-left-form-credit-pin {
    height: 16vh;
}

.Cards__register-block-left-form-credit-name-placeholder,
.Cards__register-block-left-form-credit-pin-placeholder {
    font-size: 13px;
    height: 3vh;
}

.Cards__register-block-left-form-credit-name-input,
.Cards__register-block-left-form-credit-pin-input {
    height: 6vh;
    width: 28vw;
}

.Cards__register-block-left-form-credit-name-input input,
.Cards__register-block-left-form-credit-pin-input input {
    height: 4.8vh;
    padding: 5px;
    padding-left: 1vw;
    width: 28vw;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 18px;
}

.Cards__register-block-left-form-credit-name-text,
.Cards__register-block-left-form-credit-pin-text {
    font-size: 13px;
    color: #aaa;
    height: 2vh;
    padding-top: 1vh;
}

.Cards__register-block-left-form-debit-name,
.Cards__register-block-left-form-debit-pin {
    height: 16vh;
}

.Cards__register-block-left-form-debit-name-placeholder,
.Cards__register-block-left-form-debit-pin-placeholder {
    font-size: 13px;
    height: 3vh;
}

.Cards__register-block-left-form-debit-name-input,
.Cards__register-block-left-form-debit-pin-input {
    height: 6vh;
    width: 28vw;
}

.Cards__register-block-left-form-debit-name-input input,
.Cards__register-block-left-form-debit-pin-input input {
    height: 4.8vh;
    padding: 5px;
    padding-left: 1vw;
    width: 28vw;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 18px;
}

.Cards__register-block-left-form-debit-name-text,
.Cards__register-block-left-form-debit-pin-text {
    font-size: 13px;
    color: #aaa;
    height: 2vh;
    padding-top: 1vh;
}

.Cards__register-block-right-credit,
.Cards__register-block-right-debit {
    padding-top: 7vh;
}

.Cards__register-block-right-credit-block,
.Cards__register-block-right-debit-block {
    border-radius: 65px 65px 65px 0;
    background-color: var(--background-grey);
    width: 24vw;
    height: 56vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Cards__register-block-right-credit-block-title,
.Cards__register-block-right-debit-block-title {
    height: 3vh;
    text-align: center;
    font-size: 20px;
    padding-top: 7vh;
}

.Cards__register-block-right-credit-block-name,
.Cards__register-block-right-debit-block-name {
    height: 12vh;
    padding-top: 2vh;
    border-bottom: 1px solid #ccc;
    font-size: 34px;
    text-align: center;
}

.Cards__register-block-right-debit-block-info,
.Cards__register-block-right-credit-block-info {
    height: 16vh;
    width: 18vw;
    padding-left: 3vw;
    padding-top: 2vh;
    font-size: 18px;
}

.Cards__register-block-right-debit-block-info-card,
.Cards__register-block-right-credit-block-info-card {
    height: 3.2vh;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
    padding: 10px;
    padding-top: 14px;
}

.Cards__register-block-right-debit-block-info-secret,
.Cards__register-block-right-credit-block-info-secret {
    height: 8vh;
    padding-top: 2vh;
    display: flex;
}

.Cards__register-block-right-debit-block-info-cvc,
.Cards__register-block-right-debit-block-info-date,
.Cards__register-block-right-credit-block-info-cvc,
.Cards__register-block-right-credit-block-info-date {
    height: 3.2vh;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
    padding: 10px;
    padding-top: 14px;
    flex: 1;
}

.Cards__register-block-right-debit-block-info-cvc,
.Cards__register-block-right-credit-block-info-cvc {
    margin-right: 0.4vw;
}

.Cards__register-block-right-debit-block-info-date,
.Cards__register-block-right-credit-block-info-date {
    margin-left: 0.4vw;
}

.Cards__register-block-right-debit-block-button,
.Cards__register-block-right-credit-block-button {
    height: 7vh;
    padding-top: 3vh;
    padding-left: 7vw;
}

.Cards__register-block-right-debit-block-button-block,
.Cards__register-block-right-credit-block-button-block {
    width: 10vw;
    height: 4.4vh;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7.5px;
    text-align: center;
    color: white;
    background-color: var(--background-green);
    cursor: pointer;
    text-align: center;
    padding-top: 1.4vh;
}