.Cards__nocard {
    height: 90vh;
}

.Cards__nocard-title {
    font-size: 32px;
    text-align: center;
    padding-top: 2vh;
    height: 12vh;
}

.Cards__nocard-offers {
    height: 76vh;
    width: 80vw;
    margin: auto;
    display: flex;
}

.Cards__nocard-offers-left-block,
.Cards__nocard-offers-right-block {
    flex: 1;
}

.Cards__nocard-offers-left-block {
    padding-left: 9vw;
}

.Cards__nocard-offers-right-block {
    padding-left: 1vw;
}

.Cards__nocard-offers-left,
.Cards__nocard-offers-right {
    width: 28vw;
    height: 64vh;
    border-radius: 16px;
    background-color: var(--background-white);
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
}

.Cards__nocard-offers-left-title,
.Cards__nocard-offers-right-title {
    height: 4vh;
    padding-top: 4vh;
    text-align: center;
    font-size: var(--card-nocard-title-size);
}

.Cards__nocard-offers-left-text,
.Cards__nocard-offers-right-text {
    height: 38vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    padding-top: 4.6vh;
    font-size: var(--card-nocard-text-size);
    color: rgb(77, 73, 73);
    line-height: 4vh;
}

.Cards__nocard-offers-left-button,
.Cards__nocard-offers-right-button {
    width: 12vw;
    height: 5.2vh;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 5px var(--background-green);
    border-radius: 7.5px;
    text-align: center;
    color: white;
    background-color: var(--background-green);
    margin: auto;
    display: flex;
    cursor: pointer;
}

.Cards__nocard-offers-left-button-text,
.Cards__nocard-offers-right-button-text {
    padding-top: 1.1vh;
    flex: 2;
    text-align: right;
}

.Cards__nocard-offers-left-button-svg,
.Cards__nocard-offers-right-button-svg {
    padding-top: 0.5vh;
    font-size: 28px;
    padding-left: 0.4vw;
    flex: 1;
    text-align: left;
}