.Cards__final {
    height: 80vh;
    padding-top: 10vh;
}

.Cards__final-credit {
    width: 26vw;
    height: 59vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 5vh;
    margin: auto;
    background-color: var(--background-white);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
}

.Cards__final-credit-block {
    width: 22vw;
    padding-left: 2vw;
    padding-top: 2vw;
    height: 30vh;
}

.Cards__final-credit-block-card {
    width: 22vw;
    height: 24vh;
    background-color: var(--background-grey);
    border-radius: 10px;
    padding: 5px;
}