.Cards__options {
    height: 82vh;
    padding-top: 8vh;
}

.Cards__options-block {
    width: 60vw;
    height: 70vh;
    box-shadow: 0 1px 2px rgb(38 38 38 / 4%), 0 4px 8px rgb(38 38 38 / 16%);
    background-color: var(--background-white);
    border-radius: 20px;
    margin: auto;
}

.Cards__options-block-title {
    height: 4vh;
    padding-left: 4vw;
    padding-top: 4vh;
    font-size: 26px;
}

.Cards__options-block-info {
    height: 30vh;
    padding-top: 4vh;
    padding-left: 4vw;
    display: flex;
}

.Cards__options-block-info-left-card {
    flex: 1;
    width: 22vw;
    height: 24vh;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.Cards__options-block-info-left-card-title {
    height: 3vh;
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 24px;
    text-align: right;
}

.Cards__options-block-info-left-card-number {
    height: 2vh;
    padding-top: 5vh;
    font-size: 22px;
    padding-left: 1.6vw;
    letter-spacing: 1px;
}

.Cards__options-block-info-left-card-date {
    padding-top: 2vh;
    height: 2vh;
    padding-left: 11vw;
    font-size: 16px;
}

.Cards__options-block-info-left-card-info {
    height: 5vh;
    padding-top: 3vh;
    padding-left: 1.6vw;
    display: flex;
}

.Cards__options-block-info-left-card-info-name {
    flex: 3;
    font-size: 26px;
}

.Cards__options-block-info-left-card-info-protocol {
    flex: 1;
    padding-right: 1vw;
    padding-top: 0.2vh;
    text-align: right;
    font-size: 30px;
}

.Cards__options-block-info-right {
    flex: 1;
    padding-left: 6vw;
    padding-top: 1vh; 
    padding-right: 6vw;
}

.Cards__options-block-info-right-block {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.Cards__options-block-info-right-block-chart {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 60px;
    cursor: pointer;
}