DIV.Cards__container {
    width: 100%;
    padding-top: var(--container-header-padding);
    display: flex;
    justify-content: center;
}

DIV.Cards__block {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-background-color);
    border-radius: 16px;
    padding: 50px;
    box-shadow: 0 3px 14px rgb(245, 245, 245);
}

DIV.Cards__block-container {
    display: flex;
    height: 500px;
    margin-top: 50px;
    flex-wrap: wrap;
}

DIV.Cards__block-nocards {
    padding-top: 150px;
    font-size: 20px; 
    text-align: center;
    width: 100%;
    height: 200%;
}

DIV.Cards__block-container-item {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

DIV.Cards__block-container-item:nth-child(-n+3) {
    margin-top: 0px;
}

DIV.Cards__block-conntainer-item-newcard {
    width: 400px;
    height: 230px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #b2dfdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

DIV.Cards__block-conntainer-item-newcard-plus {
    text-align: center;
    font-size: 50px;
    color: #b2dfdb;
}

DIV.Cards__block-conntainer-item-transaction {
    width: 400px;
    height: 230px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #FDE4C5;
    display: flex;
    justify-content: center;
    align-items: center;
}

DIV.Cards__block-conntainer-item-transaction-img {
    text-align: center;
    font-size: 50px;
    color: #FDE4C5;
}