DIV.Cards__container {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

DIV.Cards__block {
    width: 1400px;
    height: 740px;
    background-color: rgb(247, 247, 247);
    border-radius: 16px;
    padding: 50px;
    box-shadow: 0 3px 14px rgb(245, 245, 245);
}