.Message {
    width: 220px;
    height: 50px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 5vh;
    opacity: 0;
    text-align: center;
    background-color: rgb(100, 100, 100);
    transition: all 0.4s linear;
}

.Message__text {
    color: rgb(230, 230, 230);
    padding-top: 5px;
}